body,html,#app{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.app-header{
  display:flex ;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #c7e0c0;
}
.app-header .logo{
  font-size: 20px;
  font-weight: bold;
}
.app-header .right{
  display: flex;
  gap: 10px;
}
.app-header .search{
  padding: 8px 14px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.add-btn{
  padding: 8px 16px;
  font-size: 16px;   
  border-radius: 8px;
  border: none;
  background: #4caf50;
  color: white;
  cursor: pointer;
}
.add-btn:hover {
  background: #45a049;
}
